@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Documentação do projeto elevador</h1>
    <h2 class="mb-5">Simulador de elevador</h2>

    <ol>
        <li class="mt-5">
            <p>Escolher número de andares</p>
        </li>
        <img class="w-75" src="~/img/01.png"/>
        <li class="mt-5">
            <p>Escolher capacidade de pessoas</p>
        </li>
        <img class="w-75" src="~/img/02.png"/>
        <li class="mt-5">
            <p>Opções do elevador</p>
        </li>
        <img class="w-75" src="~/img/03.png"/>
        <li class="mt-5">
            <p>1 - Entrar uma pessoa</p>
        </li>
        <img class="w-75" src="~/img/04.png"/>
        <li class="mt-5">
            <p>2 - Sair uma pessoa</p>
        </li>
        <img class="w-75" src="~/img/05.png"/>
        <li class="mt-5">
            <p>3 - Subir um andar</p>
        </li>
        <img class="w-75" src="~/img/06.png"/>
        <li class="mt-5">
            <p>4 - Descer um andar</p>
        </li>
        <img class="w-75" src="~/img/07.png"/>
        <li class="mt-5">
            <p>5 - Finalizar simulador</p>
        </li>
        <img class="w-75" src="~/img/08.png"/>
           
    </ol>

    <h2 class="mt-5">Validação de erros</h2>
    <p class="mb-5">Quando uma ação inválida for escolhida, o simulador faz uma verificação e avisa o usuário</p>

     <ol>
        <li class="mt-5">
            <p>Elevador cheio</p>
        </li>
        <img class="w-75" src="~/img/09.png"/>
        <li class="mt-5">
            <p>Elevador vazio</p>
        </li>
        <img class="w-75" src="~/img/10.png"/>
        <li class="mt-5">
            <p>Último andar</p>
        </li>
        <img class="w-75" src="~/img/11.png"/>
        <li class="mt-5">
            <p>Andar térreo</p>
        </li>
        <img class="w-75" src="~/img/12.png"/>
     
     </ol>

</div>
